.container {
  margin-top: 200px;
}

.card-body {
  position: relative;
}

.button-container {
  position: absolute;
  bottom: -100px;
  right: 200px;
  display: flex;
}

.custom-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.atras-button,
.guardar-button {
  background-color: #001f3f;
  color: #fff;
}

.guardar-button:hover {
  background-color: #003366;
}
