body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
  margin-top: 50px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

input,
select {
  width: calc(50% - 5px);
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
  margin-top: 5px;
  display: inline-block;
  margin-right: 10px;
}

input:last-child,
select:last-child {
  margin-right: 0;
}

.form-check {
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-check label {
  display: inline-block;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.form-check input {
  width: auto;
  margin-right: 5px;
}

.text-end {
  text-align: start;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #270464;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-check-inline {
  display: inline-block;
  margin-right: 10px;
}

.btn-primary.firmada {
  background-color: #fff;
  color: #6c757d;
  border: 1px solid #000;
}

.btn-primary.firmada:hover {
  background-color: #fff;
  color: #6c757d;
  border-color: #000;
}

