<div class="container">
  <div class="card">
    <h2>Resumen registros </h2>
    <div class="horizontal-boxes">
      <div class="box">
        <h3>5489</h3>
        <p>Actores ingresados al sistema</p>
      </div>
      <div class="box">
        <h3>25</h3>
        <p>Alertas generadas</p>
      </div>
      <div class="box">
        <h3>23</h3>
        <p>Alertas gestionadas</p>
      </div>
      <div class="box">
        <h3>6985</h3>
        <p>Busquedas en listas</p>
      </div>
    </div>
  </div>

    <div class="vertical-boxes">
      <div class="box-group">
        <div class="box">
          <h3>Informe para la junta</h3>
          <p>PEPs para clientes </p>
        </div>
        <div class="box">
          <h3>Reporte mensual</h3>
        </div>
      </div>
      <div class="box-group">
        <div class="box">
          <h3>Informe representante legal</h3>
        </div>
        <div class="box">
          <h3>Informe semestral</h3>
        </div>
      </div>
      <div class="box-group">
        <div class="box">
          <h3>Informe de seguimiento</h3>
        </div>
        <div class="box">
          <h3>Informe de la consulta</h3>
        </div>
      </div>
      <div class="box-group">
        <div class="box">
          <h3>Informe +</h3>
        </div>
        <div class="box">
          <h3>Informe revision</h3>
        </div>
      </div>
    </div>
  </div>

