.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-box {
  background-color: #fff;
  padding: 80px;
  border: 2px solid;
  text-align: center;
  max-width: 600px;
}

.dialog-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.dialog-buttons {
  display: flex;
  justify-content: center;
}

.dialog-button {
  padding: 15px 50px;
  border: 2px solid #000304;
  border-radius: 5px;
  background-color: #fff;
  color: #02090d;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin: 0 10px;
}
