body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
  margin-top: 50px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

input,
select {
  width: calc(50% - 5px);
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
  margin-top: 5px;
  display: inline-block;
  margin-right: 10px;
}

input:last-child,
select:last-child {
  margin-right: 0;
}

.form-check {
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-check label {
  display: inline-block;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.form-check input {
  width: auto;
  margin-right: 5px;
}

.text-end {
  text-align: end;
  margin-top: 10px;
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-check-inline {
  display: inline-block;
  margin-right: 10px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.checkbox-group input {
  margin-right: 8px; /* Ajusta según sea necesario para separar la caja y el texto */
  width: 50px; /* Ajusta según sea necesario para cambiar el tamaño de la caja */
  height: 20px; /* Ajusta según sea necesario para cambiar el tamaño de la caja */
}

.horizontal-checkbox-group {
  display: flex;
  align-items: center;
}

.horizontal-checkbox {
  margin-right: 10px; /* Ajusta según sea necesario */
  display: flex;
  align-items: center;
}

.horizontal-checkbox input {
  width: 20px; /* Ajusta según sea necesario para el tamaño de los cuadros de verificación */
  height: 20px;
}

.horizontal-checkbox label {
  margin-left: 5px; /* Ajusta según sea necesario */
  white-space: nowrap; /* Evita que las etiquetas se dividan en varias líneas */
}



