.center-container {
  display: flex;
  align-items: right;
  justify-content: right;
  height: 100vh;
}
.image-container {
  display: flex;
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically */
  height: 90%; /* Adjust height as necessary, could be 100vh for full viewport height or any other value */
  overflow: hidden; /* Ensures no part of the image spills out of the container */
  object-fit: contain;
  padding: 10px;
}

.image-container img {
  max-width: 100%; /* Ensures the image is never wider than the container */
  max-height: 100%; /* Ensures the image is never taller than the container */
  height: auto; /* Maintains aspect ratio */
  width: auto; /* Maintains aspect ratio */
  margin-right: 50px;
}

.footer {
  padding: 20px;
  background-color: #f1f1f1;  /* Light grey background */
  color: #333;               /* Dark text color */
  text-align: right;        /* Aligns text to the right */
  border-top: 1px solid #ccc; /* Subtle top border */
  position: fixed;          /* Keeps footer fixed at the bottom of the viewport */
  bottom: 0;
  right: 0;                 /* Aligns the footer to the right side of the viewport */
  width: calc(100% - 240px);

}

@media (max-width: 768px) {
  .image-container {
      height: 50vh; /* Smaller height on smaller screens */
  }
}
